VITE_BACKEND_URL=http://localhost:3000
VITE_RASA_URL=http://localhost:5005
VITE_CLOUDINARY_CLOUD_NAME=dr8hcq37p
VITE_CLOUDINARY_UPLOAD_PRESET=Medorc
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
